*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
app/release

#amplify
amplify
build/
dist/
node_modules/
aws-exports.js
app/src/main/res/raw/awsconfiguration.json
app/src/main/res/raw/amplifyconfiguration.json
amplify-gradle-config.json
amplifyxc.config